// =======================================
// ========== Table of Contents ==========
// =======================================
/*

1.) General Styles
2.) Sidebar Styles
3.) 
4.) 
5.) 

*/
// =======================================
// ========= 1.) General Styles ==========
// =======================================

.sub-head {
  @include grid-row();
  margin-top: 1rem;
  text-align:center;
  .sub-img img { margin-bottom:3rem; }
  @include breakpoint(medium) {
    margin-top: 3rem;
  }
}
.main-content .product-faqs {
	padding-top:0;
	.ltblue-heading {
		color:#8db8e9;
	}
	.question:before { content:"Q. "; }
	.answer p:before { content:"A. "; }
	.answer {
		font-size:1.125rem;
		p { display:inline; font-size:1.125rem; }
		}
}
.cs-functions {
	.blue-button { 
		background-color:#064579;
		color:#fff;
		padding:1rem 2rem;
		border-radius:25px;
		margin-right:1em;
	}
}

.page-template-page-become-dealer .container {
	.become-dealer-icons {
		background-image: url(../images/product-benefits.jpg);
		@extend %bg_center_cover;
		max-height:900px;
		margin:2% 0;
		padding:5% 0;
		color:#fff;
		.doc-subhead {
			margin:2em 0em;
			.button {
				background-color:transparent;
				border:2px solid #ff794a;
				border-radius:25px;
				margin:.5em 2em;
			}
		}
		.icons {
			@include grid-layout-center-last(3);
		}
	}
	.home-testimonials {
		.white-quote { display:none; }
	}
	.product-faqs {
		background-color:#f2f2f2;
			.button {
				background-color:transparent;
				border:2px solid #ff794a;
				border-radius:25px;
				margin:.5em 2em;
				color: inherit;
				text-transform:uppercase;
				font-weight:500;
			}
	}
	.download-docs {
		padding:5% 0;
		.columns .doc-row {
			border:1px solid #d1d1d1;
		}
		.download-link {
			margin-top:2em;
			.button {
				background-color:#fff;
				color:inherit;
				border:2px solid #ff794a;
			}
		}
	}
	.dealer-form {
		background:linear-gradient(180deg, #004278, #002a4c);
		color:#fff;
		padding:3% 0;
		.nf-form-content {
			label { color:#fff; }
			input:not([type=button]), select, textarea { border-radius:25px; }
			input[type="button"] {
				background-color:#8db8e9;
				border:0;
				border-radius:25px;
				padding: 0.7rem 1rem;
				width:100%;
				color:#004278 !important;
				font-weight:500;
				text-transform:uppercase;
				cursor:pointer;
			}
		}
	}
}
// =======================================
// ========= 1.) Sidebar Styles ==========
// =======================================

.widget_sidenav {
	padding-bottom:1.5rem;
	.page-buttons {
		display:inline-block;
		border-left:2px solid #d1d1d1;
		margin-left:1rem;
		a {
			width:100%;
			text-transform:uppercase;
			position:relative;
			top:-2px;
			color: #ff794a;
    		font-weight: 500;
    		display:inline-block;
    		margin:1.5rem 0rem;
    		button {
    			background-color:#fff;
				border:2px solid #d1d1d1;
				border-radius:50%;
				width:1.2rem;
				height:1.2rem;
				display:inline-block;
				position:relative;
				left:-0.65rem;
				vertical-align:middle;
    		}
    		span {

    		}
		}
		a:hover {
			color: #ff794a;
    		font-weight: 500;
		}
	}
}
.widget_links {
	a button { 
		cursor:pointer; 
		border:2px solid #ff794a;
		padding:0.825rem 1.5rem;
		border-radius:25px;
	}
}
.widget_testimonial {
	padding:1.5rem 0rem;
	.white-quote { display:none; }
	.gray-quote { margin-bottom:1rem; }
	.read-more { 
		color: #ff794a;
    	font-weight: 500;
    }
    	.orbit-bullets {
		button {
			background-color:#fff;
			border:2px solid #d1d1d1;
			cursor:pointer;
			height:15px;
			width:15px;
		}
		button.is-active {
			background-color:#ff794a;
			border:medium none;
			position:relative;
			top:2px;
		}

	}
}