// =======================================
// ========== Table of Contents ==========
// =======================================
/*

1.) General Styles
2.) Navigation Styles
3.) Home
4.) Product
5.) 
6.) 
7.) 
8.) 
9.) 
10.) 
11.) 
12.) 
13.) 
14.)
15.) Footer

*/

// =======================================
// ========= 1.) General Styles ==========
// =======================================
h1,h2,h3,h4,h5,p,li,a{
	@include montserrat(300);
}
p{
	@include font(18);
}
h2{
	@include font(36);
}
.blue-heading{
	color: $blue;
}
.white-heading{
	color: $white;
}
.gray-p {
	color: $gray;
}
.white-p {
	color: $white;
}
.btn{
	@extend %orange-btn;
	@extend %learn-more;
}

// =======================================
// ======= 2.) Navigation Styles =========
// =======================================

.top-bar{
	background-color:$clear;
	position: absolute;
	width: 100%;
	transition: opacity 0.25s ease-in-out;
	z-index: 10;
	padding-top: 3%;
	&.slide-down{
		top: 0;
		width: 100%;
		opacity:1;
		position:fixed;
		background-color: #064579;
		z-index: 99;
		padding-top: 1%;
		@media(max-width: 943px){
			height: 100px;
		}
		@media(max-width: 400px){
			height: 80px;
		}
		.top-bar-left {
			top: 10px;
			@media(max-width: 400px){
				top: 10px;
			}
			@media(max-width: 375px){
				top: 13px;
			}
		}
		.top-bar-left,.top-bar-right {
		  @media(max-width: 943px){
		  	width: auto !important;
		  }
		}
		.cheeseburger{
			top: 13px !important;
			@media(max-width: 400px){
				top: 7px !important;
				font-size: 20px !important;
			}
		}
	}
	.current_page_item{
		border-bottom: 2px solid #f6c831;
	}
	ul{
		background-color: $clear;
	}
	ul a{
		color:$white;
		@include font(15);
		transition: color 0.25s ease-in-out;
		&:hover{
			color: $orange;
		}
	}
	.top-bar-left{
		@media(max-width: 943px){
			position: absolute;
			top: 30px;
			left: 30px;
			width: auto !important;
		}
		.top-bar-title img{
			@media(max-width: 400px){
				width: 215px;
			}
			@media(max-width: 360px){
				width: 175px;
			} 
		}
	}
	.top-bar-right{
		margin-top: 30px;
		position: relative;
		@media(max-width: 943px){
			text-align: right;
		}
		.cheeseburger{
			color: white;
			@include font(22);
			position: absolute;
	    top: 32px;
	    right: 30px;
	    cursor: pointer;
	    @media(max-width: 400px){
	    	top: 26px;
	    }
	    @media(max-width: 360px){
				@include font(17);
				top: 24px;
			}
			@media(min-width: 944px){
				display: none;
				visibility: hidden;
			}
			&:focus{
				outline: none;
			}
		}
		.login{
			position: absolute;
			right: 0;
			@include font(12);
			top: -23px;
			a{
				color: $white;
			}
		}
	}
	#menu-header-menu li:last-child{
		border-bottom: none;
	}
	#menu-header-menu li:last-child a{
		@extend %orange-btn;
		text-transform: uppercase;
	}
}
body:not(.home):not(.page-template-page-products) .top-bar .top-bar-left {
	top: 20px;
	@media(max-width: 400px){
		top: 25px;
	}
	@media(max-width: 360px){
		top: 27px;
	}
}
body:not(.home):not(.page-template-page-products) .top-bar.slide-down .top-bar-left{
	top: 10px;
}
body:not(.home):not(.page-template-page-products) .top-bar .top-bar-right .cheeseburger {
	top: 22px;
}
body:not(.home):not(.page-template-page-products) .top-bar.slide-down .top-bar-right .cheeseburger{
	@media(max-width: 360px){
		top: 5px !important;
		font-size: 16px !important;
	}
}
.top-bg{
	height: 200px;
}

// =======================================
// ============= 3.) Home  ===============
// =======================================


.home-hero{
	.item{
		position: relative;
		height: 100vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	.slide-meta{
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: $white;
		h1{
			@include font(14);
			text-transform: uppercase;
		}
		h2{
			line-height: 40px;
		}
	}
	.owl-nav{
		position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
	}
	.owl-prev,.owl-next{
		border: 2px solid $orange;
		padding: 1px 5px 2px;
		border-radius: 50%;
		i{
			color: $white;
		}
	}
	.owl-prev{
		@include margin(10,bottom);
	}
}

// vehicle types carousel section
.vehicle-types{
	.orbit-previous,.orbit-next{
		padding: 5px 8px;
		background-color: white;
		border-radius: 50%;
		cursor: pointer;
		i{
			color: $orange;
		}
	}
	.orbit-previous{
		left: 30px;
	}
	.orbit-next{
		right: 30px;
	}
	.orbit-slide{
		padding: 10% 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.btn{
		color: $gray;
	}
}

// fast dealer section
.fast-dealer,.about-home{
	padding: 8% 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

// testimonials section
.home .home-testimonials .white-quote{
	display: none;
}
.home-testimonials{
	padding: 8% 0;
	.read-more{
		color: $orange;
		text-transform: uppercase;
		font-weight: 500;
	}
	address.gray-p{
		@include font(14);
		font-style: normal;
		.author{
			font-weight: 600;
			text-transform: uppercase;
		}
	}
	i {
		color: $blue;
		border: 2px solid $gray;
		border-radius: 50%;
	}
	.orbit-slide .large-1{
		padding-right: 0;
		img{
			position: relative;
			top: 10px;
		}
	}
	.orbit-bullets{
		text-align: left;
		button{
			height: 15px;
			width: 15px;
			background-color: $white;
			border: 2px solid #d1d1d1;
			cursor: pointer;
			&.is-active{
				background-color: $orange;
				border: none;
				position: relative;
				top: 2px;
			}
		}
	}
}
// =======================================
// ============ 4.) Product  =============
// =======================================
.best-windshield{
	padding: 7% 0;
	h2{
		@include margin(50,bottom);
	}
}
.product-types{
	padding: 9% 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	a{
		@extend %orange-btn;
		@extend %learn-more;
		color: $gray;
		font-weight: 500;
	}
}
.product-benefits{
	padding: 9% 0;
	.owl-carousel .owl-item img{
		width: auto;
		margin: 0 auto 20px;
	}
	.item p{
		@include font(16);
		color: $gray;
	}
	.item h5{
		color: $gray;
		@include font(18);
		text-transform: uppercase;
		font-weight: 500;
	}
	.owl-prev,.owl-next{
		@include vertical-center;
		i{
			color: $orange;
			@include font(18);
			cursor: pointer;
		}
	}
	.owl-next{
		right: 0;
	}
}
.page-template-page-product .home-testimonials{
	background-image: url(../images/testimonial-bg.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	h2,p,address.gray-p{
		color: $white;
	}
	.gray-quote{
		display: none;
	}
	.orbit-bullets button{
		background-color: transparent;
		&.is-active{
			background-color: $orange;
		}
	}
}
.product-faqs{
	padding: 8% 0;
}
// =======================================
// ============ 15.) Footer  =============
// =======================================
.footer-container{
	border-top: none;
	margin-top: 0;
	padding: 3% 0;
	img,address{
		@include margin(30,bottom);
	}
	address p:first-of-type, .terms{
			@include margin(0,bottom);
	}
	a,i{
		color: #346094;
		font-weight: 400;
	}
	a,p,li{
		@include font(13);
		font-style: normal;
	}
	#menu-footer-menu{
		li{
			float: left;
			width: 50%;
			padding: 10px 0;
			a{
				padding: 0;
			}
		}
	}
	.social-links li{
		padding: 6px 0;
	}
}
